extends layouts/_layout_
block title
  title ToDo
block prepend body
  main
    section#todo
      form#todo-form
        p.headline Title
        input(
          class='form-title'
          type='text'
          name='title'
          autocomplete='off'
        )
        input(
          class='form-desc'
          type='text'
          name='description'
          autocomplete='off'
          placeholder='Description'
        )
        input(
          class='form-submit'
          type='submit'
          value='ToDo'
        )
    section#list
